<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SUMU_Messenger.DataAccess.Properties.Settings.Spark_dbConnectionString"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Spark_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SUMU_Messenger.DataAccess.Properties.Settings.sumu_messengerdbConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=sumu_messengerdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>